$border-color: lighten($brand-4, 20%);

.chatWidget
  margin: 10px 0
  min-height: 100px

  &-body
    display: flex
    flex-wrap: nowrap
    flex-direction: row
    width: 100%
    justify-content: stretch

    &-messageBox
      height: calc(100vh - 150px)
      border-right: 1px solid $border-color
      flex-grow: 1
      overflow-y: auto
      min-width: 0

      &-message, &-message--connectionEvent
        word-wrap: break-word

      &-message--connectionEvent
        font-style: italic

    &-participantList
      padding: 0 10px
      min-width: 250px

      &--male
        color: $male-color

      &--female
        color: $female-color

  &-controlsPanel
    margin-top: 10px
    border-top: 1px solid $border-color
    width: 100%
    display: flex

    &-textInput
      flex-grow: 1
      height: 50px
      word-break: break-word

    &-sendButton
      float: right