.enterForm
  text-align: center

  &-item
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: center

    &-input
      border: 1px solid $brand-4
      border-radius: 3px
      margin: $base-gap/2
      padding: $base-gap/2
      flex-basis: 200px
      box-sizing: content-box

    &-label
      +respond-to(mobile)
        margin-left: $base-gap/2
        text-align: left
        flex-basis: 200px

      margin-right: $base-gap
      text-align: right
      flex-basis: 90px

    &-button
      width: 200px
      border: none
      border-radius: 3px
      background-color: $brand-1
      font-weight: bold
      font-size: 16px
      color: $brand-2
      text-shadow: $textShadow
      padding: $base-gap
      cursor: pointer

      &:hover
        background-color: lighten($brand-1, 5%)
